.body{
	margin:0;
}
.mobile-style #title {
		text-align:center;
		background-color:#19e1ee;
		font-size:100px;
		height:180px;
		width:100%;
		margin:0;
}
.mobile-style .侧边栏菜单 {
			height:100%;
			width:0;
			position:fixed;/*原地不动*/
			z-index:1;/*保持在顶部*/
			top:0;
			left:0;
}
.desktop-style #title {
	    text-align:center;
		background-color:#19e1ee;
		font-size:40px;
		height:51px;
		width:100%;
		margin:0;
}
